{% extends 'incidents/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h2>Recent Incidents</h2>
    <ul class="list-group">
        {% for incident in incidents %}
            <li class="list-group-item">
                <a href="{% url 'incidents:incidents_details_view' incident.id %}">
                    <strong>{{incident.title}}</strong> - {{incident.status}} <br>
                    {{ incident.date_reported|date:"Y-m-d H:i"}}
                </a>
            </li>
        {% empty %}
            <li class="list-group-item">No incidents reported yet.</li>
        {% endfor%}
    </ul>

{% endblock %}