{% extends 'incidents/base.html' %}
{% load static %}
{% block title %}{{incident.title}} Detail{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-7">  
        <h2 class="mb-3">{{ incident.title }}</h2>
        <p><strong>Status:</strong> {{incident.status|capfirst}}</p>
        <p><strong>Category:</strong> {{incident.category|capfirst}}</p>
        <p><strong>Location:</strong> {{incident.location}}</p>
        <p><strong>Reported by: {{incident.reporter_name}}</strong></p>
         
                                            {% with incident.reporter_rank as rank %}
                                              {% if rank %}
                                                <p><strong>🏅Rank:
                                                {% if rank == "Gold" %}
                                                    <span class="badge bg-warning text-dark" style="background-color: rgb(254, 204, 66);" title="10+ closed reports">
                                                        <img src="{% static 'images/gold-medal.png' %}" width="20" class="me-1"><strong>Gold</strong>
                                                    </span>
                                                {% elif rank == "Silver" %}
                                                    <span class="badge bg-secondary" style="background-color: rgb(129, 129, 128);" title="5+ closed reports">
                                                        <img src="{% static 'images/silver-medal.png' %}" width="20" class="me-1"><strong>Silver</strong>
                                                    </span>
                                                {% else %}
                                                    <span class="badge bg-bronze text-light" style="background-color: rgb(187, 133, 34);" title="1-4 closed reports">
                                                        <img src="{% static 'images/bronze-medal.png' %}" width="20" class="me-1"><strong>Bronze</strong>
                                                    </span>
                                                {% endif %}
                                              {% endif %}
                                            {% endwith %}
                                            </strong></p>
        <p>{{ incident.description }}</p>
        <div class="mt-4 d-flex gap-2">
          {% if request.user.username == incident.reporter_name %}
          <a href="{% url 'incidents:update_view' incident.id %}" class="btn btn-outline-primary">update</a>
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">delete</button>
          {% endif %}
        </div>
    </div>
    <div class="col-lg-5">
      {% if incident.image %}
        <img src="{{incident.image.url}}" style="height: 320px; width: 100%; object-fit: cover;" class="img-fluid rounded shadow-sm" alt="image of the incident">
      {% endif %}
    </div>
  </div>
      

    <hr class="my-5">
    <div class="mt-5">
      <h3>Comments <span>({{comments.count}})</span></h3>
      <div class="d-flex flex-column gap-3 mt-3">
        {% for comment in comments %}
        <div class="form-wrapper p-3 rounded shadow-sm">
          <h5 class="mb-1">{{comment.user.username}}</h5>
          <p class="mb-2">{{comment.content}}</p>
          <small>{{comment.created_at}}</small>
        </div>
        {% empty %}
          <p>No comments yet.</p>
        {% endfor%}
      </div>
    </div>
      {% if request.user.is_authenticated %}
      <hr class="my-5">

      <div class="mb-5">
      
      <h3>Add Comment</h3>
      <div class="form-wrapper p-4 rounded shadow-sm mt-4">
        <form action="{% url 'incidents:comment_views' incident.id %}" method="POST">
          {% csrf_token %}
                <div class="mb-4">
                    <label for="content" class="form-label">Comment:</label>
                    <textarea placeholder="Write your comment here" name="content" class="form-control" id="content" rows="4"  required></textarea>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary px-4">Submit</button>
                </div>
        {% else %}
          <div class="p-3 rounded bg-warning mt-4 d-flex flex-column gap-2">     
            <h6>You need to login to add a comment!</h6>
          </div>
        {% endif %}
        </form>
      </div>
    </div>
</div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Report</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are You sure you want to delete {{incident.title}} ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'incidents:delete_view' incident.id %}" class="btn btn-danger">delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}