.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
}

.nav-link {
    font-weight: 500;
}

.mode-toggle {
    cursor: pointer;
    font-size: 1.5rem;
}

.material-symbols-outlined {
    vertical-align: middle;
}