{% extends 'incidents/base.html' %}
{% load static %}
{% block title %}Sign In{% endblock %}

{% block content %}

    <h1 class="mb-4 contact-title text-center">Sign In</h1>
    <form class="p-4 form-wrapper rounded shadow" action="{% url 'main:sign_in' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="identifier" class="form-label">Username or Email</label>
            <input type="text" class="form-control" id="identifier" placeholder="Username or Email" name="identifier" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" placeholder="password" name="password" class="form-control" id="password" required></input>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg d-block mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
        </div>
    </form>

</div>



{% endblock %}